html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', sans-serif;
    color: black;
}

.header {
    background-color: black;
    height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    min-height: 20vh;
}

form {
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    margin: auto auto 3vh;
}
form input {
    margin: auto;
    padding-left: .5vw;
    padding-right: .5vw;
    width: 25vw;
    height: 5vh;
    font-size: 2.5vh;
}

.submit-button {
    margin: 2vh auto auto;
    height: 3vw;
    width: 9vw;
    border: none;
    outline: none !important;
    background-color: black;
    color: white;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

::-webkit-scrollbar {
    display: none;
}

div.corpus-example {
    border: black 0.25vh solid;
    margin: 2vh auto;
    width: 50vw;
    border-radius: 3vh;
    padding: 5vh;
}

div.corpus-example p {
    word-wrap: break-word;
}

.footer {
    background-color: black;
    height: 50vh;
}