aiohttp==3.6.2
apiclient==1.0.4
asyncio==3.4.3
beautifulsoup4==4.9.1
colorama==0.4.3
comtypes==1.1.7
docx==0.2.4
google==2.0.3
google-api-python-client==1.9.1
PyQt5==5.15.0
pytest==5.4.3
unsync==1.2.1
xlrd==1.2.0
XlsxWriter==1.2.9
requests==2.23.0